/* ConfirmDeleteModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
  width: 50%;
}

.modal-button:hover {
  background: #0056b3;
}

.modal .details{
  text-align: left;
}

.modal .detailsDiv{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 5px;
}
