.super-admin-dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: background-color 0.3s, color 0.3s;
}

.content {
  flex: 1;
  margin-left: 290px;
  transition: margin-left 0.3s;
  justify-content: center;
  overflow: auto;
  scrollbar-width: none;
}

header {
  padding: 10px;
  background-color: inherit;
}

main {
  padding: 20px;
  padding-top: 0%;
  background-color: inherit;
}

.flashcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.flashcard {
  width: calc(25% - 20px);
  height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .flashcard {
    width: calc(50% - 20px);
  }
}

.edit-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-edit-form {
  background: none;
  border: none;
  font-size: 10rem;
  cursor: pointer;
  color: #000;
  top: 0;
  right: 0;
}

.close-edit-form:hover {
  color: red;
}

.facilities-table,
.subAdmin-table,
.flatsResidents-table,
.assignedMeters-table,
.detailed-meter-table {
  margin-top: 20px;
  height: 409px;
  overflow-y: auto;
}

.facilities-table table,
.subAdmin-table table,
.flatsResidents-table table,
.assignedMeters-table table,
.detailed-meter-table table {
  width: 100%;
  border-collapse: collapse;
}

.facilities-table th, .facilities-table td,
.subAdmin-table th, .subAdmin-table td,
.flatsResidents-table th, .flatsResidents-table td,
.assignedMeters-table th, .assignedMeters-table td,
.detailed-meter-table th, .detailed-meter-table td {
  padding: 14px;
  text-align: left;
}


.facilities-table th,
.subAdmin-table th,
.flatsResidents-table th,
.assignedMeters-table th,
.detailed-meter-table th {
  position:sticky;
  top: 0px;
}


.flashcardCount {
  font-size: 24px;
  margin-top: 10px;
}

.flashcard p {
  margin: 0;
  padding: 0;
}

.update_button,
.delete_button {
  margin: 2px;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0078d0; 
  color: #fff; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.update_button:hover,
.delete_button:hover {
  background-color: #005aa6; 
  transform: translateY(-2px); 
}

.update_button:active,
.delete_button:active {
  transform: translateY(0); 
}

.edit-form-container {
  float: right;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 930px;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  overflow-x: auto;
}

.edit-form-container.show {
  transform: translateX(0);
}

.edit-form {
  display: flex;
  flex-direction:column;
  padding: 20px;
}

.edit-form h4 {
  margin-bottom: 20px;
}

.edit-form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.edit-form button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Light Mode */
.light-mode {
  justify-content: space-between;
}

.light-mode .super-admin-dashboard {
  background-color: white;
  color: black;
}

.light-mode .content {
  background-color: white;
  color: black;
}

.light-mode header {
  background-color: white;
  color: black;
}

.light-mode main {
  background-color: white;
  color: black;
}

.light-mode h3{
  font-size: 24px;
	margin-left: auto;
	color: #7875B5;
  padding-bottom: 10px;
}

.light-mode .flashcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(90deg, #b3b0f0, #8f86cc);
  color: white;
  border: 1px solid rgb(67, 44, 88);
}

.light-mode .flashcard:hover {
  transition: 0.4s;
}

.light-mode .facilities-table,
.light-mode .subAdmin-table,
.light-mode .flatsResidents-table,
.light-mode .assignedMeters-table,
.light-mode .detailed-meter-table  {
  margin-top: 20px;
  height: 409px;
  overflow-y: auto;
}

.light-mode .facilities-table table,
.light-mode .subAdmin-table table,
.light-mode .flatsResidents-table table,
.light-mode .assignedMeters-table table,
.light-mode .detailed-meter-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(198, 197, 197);
}

.light-mode .facilities-table th,
.light-mode .subAdmin-table th,
.light-mode .flatsResidents-table th,
.light-mode .numberOfMeters-table th,
.light-mode .facilities-table td,
.light-mode .subAdmin-table td,
.light-mode .flatsResidents-table td,
.light-mode .assignedMeters-table td 
.light-mode .detailed-meter-table td{
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid rgb(198, 197, 197);
}

.light-mode .facilities-table th,
.light-mode .subAdmin-table th,
.light-mode .flatsResidents-table th,
.light-mode .assignedMeters-table th,
.light-mode .detailed-meter-table th {
  background-color: #f0f0f0;
  border-top: 1px solid rgb(198, 197, 197);
}


.light-mode .facilities-table tr:hover,
.light-mode .subAdmin-table tr:hover,
.light-mode .flatsResidents-table tr:hover,
.light-mode .assignedMeters-table tr:hover,
.light-mode .detailed-meter-table tr:hover  {
  background-color: #fbf9f9;
}


/* Dark Mode */
.dark-mode {
  justify-content: space-between;
}

.dark-mode .super-admin-dashboard {
  background-color: #222831;
  color: white;
}

.dark-mode .content {
  height: 100vh;
  background-attachment: fixed;
  background-color: #222831;
  color: white;
}

.dark-mode header {
  background-color: #222831;
  color: white;
}

.dark-mode main {
  background-color: #222831;
  color: white;
}

.dark-mode h3{
  font-size: 24px;
	margin-left: auto;
	color: #76abae;
  padding-bottom: 10px;
}

.dark-mode .flashcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #31363F;
  color: #03dac6;
}

.dark-mode .flashcard:hover {
  transition: 0.4s;
}

.dark-mode .facilities-table,
.dark-mode .subAdmin-table,
.dark-mode .flatsResidents-table,
.dark-mode .assignedMeters-table,
.dark-mode .detailed-meter-table {
  margin-top: 20px;
  height: 409px;
  overflow-y: auto;
}

.dark-mode .facilities-table table,
.dark-mode .subAdmin-table table,
.dark-mode .flatsResidents-table table,
.dark-mode .assignedMeters-table table,
.dark-mode .detailed-meter-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #31363F;
}

.dark-mode .facilities-table th,
.dark-mode .subAdmin-table th,
.dark-mode .flatsResidents-table th,
.dark-mode .assignedMeters-table th,
.dark-mode .facilities-table td,
.dark-mode .subAdmin-table td,
.dark-mode .flatsResidents-table td,
.dark-mode .assignedMeters-table td,
.dark-mode .detailed-meter-table td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #31363F;
}

.dark-mode .facilities-table th,
.dark-mode .subAdmin-table th,
.dark-mode .flatsResidents-table th,
.dark-mode .assignedMeters-table th,
.dark-mode .detailed-meter-table th{
  background-color: #31363F;
  border-top: 1px solid #31363F;
  color: #bddce0;
}



.dark-mode .facilities-table tr:hover,
.dark-mode .subAdmin-table tr:hover,
.dark-mode .flatsResidents-table tr:hover,
.dark-mode .assignedMeters-table tr:hover,
.dark-mode .detailed-meter-table tr:hover {
  background-color: #2c2f3e;
}


